<form action="/admins/vaccine/add" method="post">

<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
</div>
<div>
    <label for="stock">Stock</label>
    <input type="number" id="stock" name="stock">
</div>
<p>Category</p>
<select name="category" id="category">
    <option value="Vaksin 1">Vaksin 1</option>
    <option value="Vaksin 2">Vaksin 2</option>
    <option value="Vaksin 3">Vaksin 3</option>
</select>
<button>submit</button>
</form>