<a href="/admins/vaccine"><button>Vaccine</button></a>
<table>
    <thead>
        <tr>
            <td>User</td>
            <td>Vaccines</td>
            <td>Status</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.User.name %></td>
                <td><%= el.Vaccine.name %></td>
                <td><%= el.status === 1?"done":"undone" %></td>
                <td><%= el.date %></td>
                <td><a href=""><button>Approve</button></a></td>
            </tr>
        <% }) %> 

    </tbody>
</table>